@using System.Web.Optimization;

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Layout")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/Shared/Layout")
</head>
<body>
	
    <div class="loader-container hidden">
        <div class="loader cssload-container">
            <div class="loader-label"></div>
            <div class="cssload-tube-tunnel"></div>
        </div>

        <div class="page-cover"></div>
    </div>
    
    @Html.Partial("_Navigation")

	<div class='content-panel'>

        @if (Request.IsAuthenticated)
        {
	        <div class="display-cheat"></div>
        }

        <div class='content-container'>
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_ActivityPanel")
</body>
</html>

